* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    color: #333;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }

table,
tr,
td {
    border: 2px black solid;
    border-collapse: collapse;
}

        table {
            width: 100%;
        }

        td {
            width: 20%;
        }
        
        #student2,#student3,#student4,#student5 {
            display: none; 
        }

  body {
    background: #ccc;
    font-family: 'Roboto', sans-serif;
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
 
    padding: 25px;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 20px;
    /* background: #e2e2e2; */
    font-weight: bold;
}
.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}

.button {
  background-color: #bb5222; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.mybutton {
  background-color: #bb5222; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}
